<app-header>
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</app-header>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-books-cart [booksList]="addedBooksList"></app-books-cart>
  </mat-drawer>

  <app-books-catalog (addBookToCart)="addBookToCart($event)"></app-books-catalog>

  <router-outlet />
</mat-drawer-container>

<!-- <h1>Hello, {{ title }}</h1> -->
